.adobe
.bash_history
.bash_logout
.bashrc
.cache
.conkyrc
.dbus
.fontconfig
.fonts
.fonts.conf
.gconf
.git
.gmrun_history
.gmrunrc
.gnome2
.gnome2_private
.gstreamer-0.10
.gtk-bookmarks
.gtkrc-2.0
.gtkrc-2.0.mine
.gvfs
.icons
.local
.macromedia
.mozilla
.nv
.pbuilderrc
.profile
.purple
.pulse
.pulse-cookie
.ssh
.themes
.viminfo
.Xauthority
.xchat2
.Xresources
.xscreensaver
.xsession-errors
.config/google-chrome
.config/chromium
.config/enchant
.config/xfce4
.lein/self-installs
.oh-my-zsh
.zsh_history
.zsh-update
.zcompdump
.weechat
.vim/.netrwhist
media
tmp
