.adobe
.bash_history
.bash_logout
.bashrc
.cache
.conkyrc
.dbus
.emacs.d
.fontconfig
.fonts
.fonts.conf
.gconf
.git
.gitp4*
.gmrun_history
.gmrunrc
.gnome2
.gnome2_private
.gstreamer-0.10
.gtk-bookmarks
.gtkrc-2.0
.gtkrc-2.0.mine
.gvfs
.icons
.local
.lesshst
.m2
.macromedia
.mozilla
.nv
.pbuilderrc
.pki
.p4tickets
.profile
.purple
.pulse
.pulse-cookie
.ssh
.themes
.thumbnails
.viminfo
.Xauthority
.xchat2
.Xresources
.xscreensaver
.xsession-errors
.config/local-environment
.config/google-*
.config/chromium
.config/enchant
.config/xfce4
.lein/self-installs
.oh-my-zsh
.zsh_history
.zsh-update
.zcompdump
.weechat
.vim/.netrwhist
.vim/bundle
.virtualenvs
.VirtualBox
.vboxvms
.vagrant.d
.z
src
projects
media
tmp
